{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-no-target-blank": 0,
    "comma-dangle": 0,
    "prefer-destructuring": ["error", {"object": false, "array": false}],
    "consistent-return": 0,
    "camelcase": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": "error",
    "react/jsx-indent": ["error", 2],
    "no-use-before-define": 0,
    "no-shadow": "off",
    "space-before-function-paren": [2, { "anonymous": "never", "named": "never" }],
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}

