html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: #616161;
}

*:focus {
	outline: none;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: inherit;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	fill: #fff;
}

a svg {
	fill: black;
}

div#root {
	width: 100vw;
}
